* {
	font-family: var(--main-font), sans-serif;
	color: var(--text-color);
}

/* Цвет выделения */
::selection {
	background-color: var(--text-transparent-color); /* Цвет фона */
	color: var(--text-color); /* Цвет текста при выделении */
}
/* Анимация для ссылок основной части страницы */

.white-line:after {
	background-color: white; /* Белая полоса */
}
.black-line:after {
	background-color: black; /* Черная полоса */
}

.btn {
	position: relative;
	cursor: pointer;
}

.btn:after {
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 1px;
	content: '';
	transition: width 0.5s ease-out, left 0.5s ease-out;
	transform: translateX(-50%);
	/* сдвиг влево на 50% для центрирования*/
}

.btn:hover:after,
.btn:focus:after {
	width: 100%; /* Ссылка подчёркивается полностью */
	left: 50%;
	transform: translateX(-50%);
}

/* Анимация для ссылок footer'а */
.footer-btn {
	position: relative;
	cursor: pointer;
}
.footer-btn:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: black;
	content: '';
	transition: width 0.5s ease-out;
}

.footer-btn:hover:after,
.footer-btn:focus:after {
	width: 100%; /* Ссылка подчёркивается полностью */
}

/* Header */

.navigate {
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.11em;

	text-transform: uppercase;
}

.cart {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.1em;

	text-transform: uppercase;
	text-align: right;
}

/* Hero */

.hero-title h1 {
	color: var(--main-color);
	font-weight: 400;
	font-size: 54px;
	line-height: 107%;
}

.hero-title p {
	color: var(--main-color);
	font-weight: 380;
	font-size: 18px;
	letter-spacing: 0.05em;
}

.hero-title a {
	color: var(--main-color);
	font-weight: 380;
	font-size: 17px;
	letter-spacing: 0.11em;
}

/* Контент страницы */

/* Вдохновляющий дизайн */

.inspires h1 {
	font-weight: 400;
	font-size: 43px;
	line-height: 135%;
}

.inspires p {
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.06em;
}

.inspires a {
	font-weight: 400;
	font-size: 13px;
	line-height: 162%;
	letter-spacing: 0.11em;
	text-transform: uppercase;
}

/* Выбор рабочего места */

.space-title h3 {
	font-weight: 400;
	font-size: 27px;
	line-height: 111%;
}

.space-title a {
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.11em;

	text-transform: uppercase;
}

/* Стандартный заголовок для оставшихся разделов страницы! */

.default-title h2 {
	font-weight: 400;
	font-size: 33px;
	line-height: 200%; /* Расстояние между строками */
}

.default-title p {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.05em;

	color: var(--text-transparent-color);
}

/* Слайдер */

.slide h5 {
	font-weight: 400;
	font-size: 13px;
	line-height: 162%;
	letter-spacing: 0.05em;

	color: var(--text-transparent-color);
}

.slide p {
	font-weight: 400;
	font-size: 12px;
	line-height: 175%;
	letter-spacing: 0.06em;

	color: var(--text-transparent-color);
}

/* Изменение текста при наведении на товар */
.slide:hover h5,
.slide:hover p {
	color: var(--text-color);
}

/* Офис */

.office-title h1 {
	color: var(--main-color);
	font-weight: 400;
	font-size: 53px;
	line-height: 140%;
}

.office-title p {
	color: var(--main-color);
	font-weight: 380;
	font-size: 18px;
	letter-spacing: 0.06em;
}

.office-title a {
	color: var(--main-color);
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 0.11em;
	text-transform: uppercase;
}

/* Присоединяйся */

.join {
	margin-top: 96px;
	margin-bottom: 120px;
}

.join h2 {
	font-weight: 400;
	font-size: 34px;
	line-height: 256%;
}

.join a {
	font-weight: 400;
	font-size: 13px;
	line-height: 162%;
	letter-spacing: 0.11em;

	text-transform: uppercase;
}

/* Дизайн вдохновляет */

.inspires-bottom h2 {
	color: var(--main-color);
	font-weight: 400;
	font-size: 43px;
	line-height: 135%;
}

.inspires-bottom p {
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.06em;
}

/* Footer */

/* Основной */

.menu-list {
	font-weight: 400;
	font-size: 22px;
	line-height: 109%;
}

.newsletter h4 {
	font-weight: 400;
	font-size: 22px;
}
.newsletter p {
	color: var(--text-transparent-color);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.06em;
}

/* Форма */

.submit {
	color: var(--main-color);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.06em;
}

/* Доп. информация */
