/* Объединение стилей */

@import url(/Style/reset.css);
@import url(/Style/root.css);
@import url(/Style/base.css);
@import url(/Style/burger-menu.css);

/* Подключение шрифта */

@import url(/Font/Roboto/font-face-roboto.css); /* Roboto */

/* Стили */

/* Шапка */

.header {
	align-items: center;

	width: 100%;

	margin: 0;
	padding: 0;

	position: fixed;
	z-index: 1;

	background-color: var(--main-color);
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	padding: 25px 37.5px;
}

.nav-list {
	display: flex;
	gap: 24px;

	padding: 0 12.5px;
	padding-top: 2px;
	padding-bottom: 4px;
}

.logo {
	min-width: 200px;
	height: 17px;
}

.custom-logo {
	width: 100%;
}

.cart {
	padding: 6px 42.5px;
}

.burger {
	display: none;
}
/* Hero секция */

.hero-section {
	width: 100%;

	margin: 0;
	padding: 0;
}

.hero-bg {
	position: relative;
	z-index: 0;
}

.custom-hero-bg {
	width: 100%;

	margin-top: 76px;
}

.hero-title {
	text-align: center;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	position: absolute;
}

.hero-title h1 {
	padding-bottom: 12px;
}

.hero-title p {
	padding-bottom: 40px;
}

.hero-title a {
	text-transform: uppercase;
	text-align: center;
}

/* Контент страницы */

/* Лист страницы */

.wrapper {
	width: 100%;
	height: auto;
	padding: 0 37.5px;
}

/* Вдохновляющий дизайн */

.inspires {
	text-align: center;
	margin: 80px 0;
}

.inspires h1 {
	padding-bottom: 23px;

	text-align: center;
}

.inspires p {
	color: var(--inspires-color);

	padding-bottom: 26px;

	text-align: center;
}

.inspires a {
	text-transform: uppercase;
	text-align: center;
}

/* Выбор типа рабочего места */

.work-spaces {
	display: flex;
	justify-content: center;

	margin: 0 auto;
}
.custom-img {
	padding: 0 12.5px;
}

.spaces {
	display: grid;
	gap: 51px;
}

.space-title {
	text-align: center;
}

.space-title h3 {
	padding-bottom: 23px;
}

/* Заголовок слайдера с будущими продуктами */

/* Стандартный заголовок для оставшихся разделов страницы! */

.default-title {
	text-align: center;
}

/* Настройка конкретного заголовка */
.Featured {
	margin-top: 120px;
	margin-bottom: 40px;
}

/* Слайдер */

/* Общий контейнер */

.slider-box {
	display: flex;
	justify-content: center;

	margin-bottom: 100px;
}
/* Контейнер окошек */

.slider {
	max-width: 1340px; /* Ширина дизайна */
	height: 530px;
	overflow: hidden;
	position: relative;
}

/* Все слайды (Лента)*/
.slides {
	display: flex; /* Располагаем слайды в ряд */

	width: 100%; /* Делаем ширину в четыре раза больше (по количеству слайдов) */
	transition: transform 0.5s ease-in-out; /* Плавное переключение слайдов */

	gap: 20px; /* Отхождение от дизайна ради лучшего восприятия(в дизайне 25px) */
}

.slides::before,
.slides::after {
	content: '';
}

/* Настройка товара */
.slide {
	display: grid;
	gap: 22px;

	flex-shrink: 0; /* отключение уменьшения элементов внутри flex-контейнера */

	transition: transform 0.3s ease-in-out;
}

/* Наведение на картинку */
.slide:focus,
.slide:hover {
	transform: scale(1.05);
}

/* Прячу радио (нужны для управления) */
input[type='radio'] {
	display: none;
}

/* Переключение слайдов при выборе радиокнопки */
/* Нулевая точка */
#slide1:checked ~ .slides {
	transform: translateX(0%);
} /* Первая точка */
#slide2:checked ~ .slides {
	transform: translateX(-98.5%);
} /* Вторая точка */
#slide3:checked ~ .slides {
	transform: translateX(-197.2%);
}

/* Контейнер для точек управления */
.controls {
	display: flex;
	gap: 16px;
	justify-content: center;

	margin-bottom: 19px;
}

/* Стиль точек переключения */
.controls label {
	display: inline-block;
	width: 7px;
	height: 7px;

	background: #3a3a3a;

	cursor: pointer;
}

/* Офис */

.office-bg {
	position: relative;
	z-index: 0;
}

.custom-office-bg {
	width: 100%;
}

.office-title {
	text-align: center;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	position: absolute;
}

.office-title p {
	padding-bottom: 50px;
}

/* Трудный путь */

/* Настройка стандартного заголовка */
.way {
	margin: auto;
	margin-top: 120px;
	margin-bottom: 24.14px;

	text-align: center;
}

.hard-way-img {
	display: block;
	margin: auto;
}

/* Значимая работа */

.hard-way-img {
	width: 100%;
	max-width: 1052px;
}

/* Настройка стандартного заголовка */
.meaningful {
	margin-top: 42.28px;
	margin-bottom: 80px;
}

/* Участники */

.team {
	max-width: 1365px;
	margin: 0 auto;
}

.member-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 25px 27px;
}

.member-item {
	filter: saturate(90%);
	transition: filter 0.5s, transform 0.5s ease-in-out;
}

.member-item:hover {
	filter: saturate(140%);
	transform: scale(1.1);
}

.custom-member-img {
	width: auto;
}

/* Присоединяйся */

/* Дизайн вдохновляет */
.inspires-bottom {
	text-align: center;
	height: 404px;

	margin: 0 12.5px;
	margin-bottom: 39px;

	position: relative;

	background-color: var(--inspires-color);
}

.inspires-title-bottom {
	display: grid;
	gap: 24px;

	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.inspires-bottom-icon {
	margin: auto;
}

/* Footer */

/* Основной */
.footer {
	background-color: var(--footer-color);
}

.footer-box {
	display: flex;
	gap: 12.5px;

	justify-content: flex-start;

	margin-bottom: 80px;

	position: relative;
}

.menu-list {
	display: grid;
	gap: 16px;
}

.newsletter {
	position: relative;
}

.newsletter::before {
	content: ' ';
	background: #000;
	width: 210px;
	height: 1px;

	bottom: 65px;
	position: absolute;
}

.newsletter h4 {
	padding-bottom: 23px;
}

.newsletter p {
	padding-bottom: 65px;
}

/* Настройка формы */

.form-box {
	display: flex;
}

.from {
	padding: 0 25px;
	opacity: 0.5;
}

.border {
	border: 1px solid black;
	background-color: #000;

	transition: transform all;
}

.border:active {
	transform: scale(0.9);
}

.submit {
	padding: 10px 10px;

	transition: transform all;
}

.submit:active {
	transform: scale(0.95);
}

.go-box {
	display: flex;
	justify-content: right;
}

.go-icon {
	width: 82px;
	height: 82px;
}

.go-link {
	width: 82px;
	height: 82px;
}

.custom-go-icon {
	/* position: absolute;
	top: 0;
	right: 12.5px; */

	transition: transform 0.5s ease-in-out;
}

.go-icon:hover {
	transform: scale(0.9);
}
/* Доп. информация */

.by-list {
	display: flex;
	gap: 37px;
	justify-content: flex-end;

	padding-bottom: 20px;
}

.by-list li a {
	color: var(--inspires-color);

	transition: color 0.5s;
}

.by-list li a:hover {
	color: var(--text-color);
}
