@media (max-width: 1100px) {
	/* Hero */
	.hero-title h1 {
		font-size: 38px;
	}

	.hero-title p {
		font-size: 16px;
	}

	.hero-title a {
		font-size: 15px;
	}

	/* Офис */

	.office-title h1 {
		font-size: 50px;
	}

	.office-title p {
		font-size: 14px;
	}

	.office-title a {
		font-size: 13px;
	}

	/* Картинки участников */
	.team {
		padding: 0 60px;
	}
	.member-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 12px 20px;

		justify-items: center;
	}

	.member-item {
		width: 100%;
	}

	.custom-member-img {
		width: 100%;
	}
}

@media (max-width: 768px) {
	/* Hero */
	.hero-title {
		top: 60%;
	}
	/* Office */
	.office-title h1 {
		line-height: 100%;
		padding-bottom: 15px;
	}
	.office-title p {
		padding-bottom: 20px;
	}

	/* Hard way*/
	.default-title p {
		margin: 0 auto;
	}

	/* Work */
	.meaningful br {
		display: none;
	}
	/* Join */
	.join {
		margin-top: 56px;
		margin-bottom: 100px;
	}
	/* footer */
	.by-list {
		justify-content: center;
	}
}

@media (max-width: 768px) {
	/* Header */

	.burger {
		display: block;
		position: fixed;
		right: 50px;
	}

	/* Hero */
	.custom-hero-bg {
		margin-top: 57px;
	}
	.container {
		justify-content: center;
		padding: 20px 37.5px;
	}
	.navigate {
		display: none;
	}
	.cart {
		display: none;
	}
	/* Hero */
	.hero-title {
		margin-top: 15px;
	}

	.hero-title h1 {
		font-size: 25px;
		width: 300px;
	}

	.hero-title p {
		font-size: 14px;
		padding-bottom: 15px;
	}

	.hero-title a {
		font-size: 13px;
	}

	/* Office */
	.office-title h1 {
		font-size: 25px;
	}

	.office-title p {
		font-size: 14px;
		padding-bottom: 15px;

		width: 400px;
	}

	.office-title a {
		font-size: 13px;
	}
	/* Hard Way */
	.default-title br {
		display: none;
	}
	/* Work */
	.meaningful {
		margin-bottom: 60px;
	}
	/* Team */
	.team {
		padding: 0;
	}
	/* Footer */
}

@media (max-width: 425px) {
	/* Header */

	.burger {
		right: 25px;
	}

	/* Footer */
	.form-box {
		display: grid;
		gap: 15px;
		width: 100px;
	}

	.newsletter p {
		padding-bottom: 75px;
	}

	.menu-list {
		font-size: 20px;
	}

	.border {
		text-align: center;
		width: 100px;
		justify-self: right;
		margin: 0 20px;
	}

	.go-icon {
		left: 313px;
		width: 60px;
	}

	.by-list {
		display: flex;
		gap: 37px;
		justify-content: center;
		padding-bottom: 20px;
	}

	.by-list li a {
		font-size: 12px;
	}
}

@media (max-width: 375px) {
	.newsletter p {
		padding-bottom: 55px;
	}
	.go-icon {
		left: 277px;
	}
}

@media (max-width: 320px) {
	/* Head */
	.burger {
		right: 60px;
	}
	.container {
		justify-content: flex-start;
	}

	/* Footer */
	.newsletter::before {
		display: none;
	}
	.newsletter p {
		padding-bottom: 15px;
	}
	.from {
		width: 160px;

		border-bottom: 1px solid var(--inspires-color);
		padding-bottom: 5px;
	}
	.go-icon {
		left: 222px;
	}

	.by-list {
		gap: 17px;
	}
}
