:root {
	/* Шрифты */
	--maine-font: 'Roboto', sans-serif;

	/* Цвета */

	--maine-color: #fff;
	--inspires-color: #9aa8b1;

	--text-color: #000;
	--text-transparent-color: #a0a0a0;
	--text-title-color: #fff;

	--size-last-titles: 34px;
	--size-description-text: 16px;
}
